html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --background: #222222;
  --foreground: #ffffff;
  --transparent: #0000;
  --foreground-secondary: #888888;
  --content-background: #333333;
  --primary: #fe51bb;
  --border-color: #484848;
  --delete-background: #331f1f;
  --delete-highlight-background: #582b2b;

  color: var(--foreground);
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  font-weight: 600;
  font-size: 2.25rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

h5 {
  font-weight: 500;
  font-size: 1.15rem;
}
